body {
    background: black;
    margin: 0;
}
.grid-container_1 {
    display: grid;
}
.gplace {
    width: 100%;
    height: 100%;
    cursor: pointers;
    font-family: "Bebas Neue";
    letter-spacing: -0.5vmin;
    font-size: 8vmin;
    display: table; 
    border: 0.6vh solid black;
}
.gplace div {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
}
.grid-container_2 {
    display: grid;
    grid-template-columns: auto auto;

} 
#place_17 {
    grid-column: span 2;
}
#place_18 {
    grid-column: span 4;
}
#place_19 {
    grid-column: span 4;
}
.grid-container_1 { grid-area: container_1; }
.grid-container_2 { grid-area: container_2; }
.place_18 { grid-area: place_18; }
.place_19 { grid-area: place_19; }
.place_17 { grid-area: place_17; }
.wall {
    display: none;
}
main {
    position: absolute;
    display: grid;
    row-gap: 0%;
    width: 100%;
    height: calc(100% - 13.3vw);
    grid-template-areas: 
    "container_1 container_1 container_1 container_1 container_1 container_1 container_2 container_2"
    "container_1 container_1 container_1 container_1 container_1 container_1 container_2 container_2"
    "container_1 container_1 container_1 container_1 container_1 container_1 container_2 container_2"
    "place_18 place_18 place_18 place_18 place_19 place_19 place_19 place_19";

}
.scroll {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5vw;
    color: white;
    width: 100%;
    border: 0.6vh solid black;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 2vh solid;
}
ul {
    list-style-position: outside;
    list-style-type: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin: 0;
}
li {
    padding-left: 0.8vw;
}
a {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    bottom: 15%;
    position: relative;
    cursor: pointer;
}
.button {
    width: 20%;
}
.menu {
    font-size: 4vw;
    height: 5.5vw;
    width: 100%;
    border: 0.6vh solid black;
    justify-content: center;
    display: flex;
}
.house {
    border: 0.6vh solid black;
    text-align: center;
    height: 8.5vw;
    width: 100%;
}
.legend {
    top: -1.2vw;
    font-family: "Bebas Neue";
    position: relative;
    font-size: 10vw;
}
.close {
    float: right;
}

.form {
    width:350px;
    height: 300px;
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.form .form-field::before {
    font-size:20px;
    position:absolute;
    left:100px;
    top:17px;
    color:#888;
    content:" ";
    display:block;
    background-size:cover;
    background-repeat:no-repeat;
}
.form .form-field {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin-bottom:1rem;
    position:relative
}
.form input {
    font-family: 'Oswald', sans-serif;
    width:100%;
    outline:none;
    background-color:#fff;
    border-radius:4px;
    border:none;
    display:block;
    padding:.9rem .7rem;
    box-shadow:0 3px 6px rgba(0,0,0,.16);
    font-size:17px;
    color:#4a4a4a;
    text-indent: 20px;
}
.btnl {
    font-family: 'Oswald', sans-serif;
    outline:none;
    border:none;
    cursor:pointer;
    display:inline-block;
    margin:0 auto;
    padding:.9rem 2.5rem;
    text-align:center;
    background-color: grey;
    color:#fff;
    border-radius:4px;
    box-shadow:0 3px 6px rgba(0,0,0,.16);
    font-size:17px
}

.logol {
    color: whitesmoke;
    font-size: 52px;
    font-family: "Bebas Neue";
}
