
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    user-select: none;
}
.nav {
    width: 30%;
    height: 50%;
}
.logo {
    height: 7.8vw;
}
.scroll {
    height: calc(100% - 7.8vw);
    overflow: scroll;
    width: 100%;
    white-space: pre-wrap;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3vw;
    color: white;
    hyphens: auto;
}
a:hover {
    opacity: 0.65;
}
.button {
    width: 20%;
}
.color_block {
    text-align: center;
    font-size: 3vw;
    font-family: "Bebas Neue";
    height: 100%;
    width: 100%;
}
.menu {
    border-top: 0.2vw solid black;
    font-size: 1.5vw;
    height: 2vw;
    justify-content: center;
    display: flex;
}
.house {
    height: 5.45vw;
    width: 100%;
}
.legend {
    font-family: "Bebas Neue";
    position: relative;
    font-size: 7.8vw;
    top: -1.55vw;
    left: 0.05vw;
}
ul {
    list-style-position: outside;
    list-style-type: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-bottom: 0;
}
li {
    padding-left: 0.2vw;
}
a {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: relative;
    bottom: 15%;
    cursor: pointer;
}
.wall {
    position: absolute;
}
#wall_1, #wall_2, #wall_3 {
    width: 2%; 
}
#wall_4 {
    width: 26%;
    height: 45.3%;
    bottom: 0;
    right: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3vw;
}
#wall_3 {
    height: 34%;
    top: 0;
    left: 79%
}
#wall_2 {
    height: 34%;
    bottom: 0;
    left: 60%;
}
#wall_1 {
    height: 50%;
    top: 0;
    left: 60%;
}
table {
    width: 100%;
    border-collapse: collapse;

}
table, th, td {
    border: 0.2vh solid black;
}
.grid-container_1 {
    width: 60%;
    height: 34%;
    display: grid;
    grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.gplace {
    cursor: pointers;
    width: 100%;
    height: 100%;
    font-family: "Bebas Neue";
    letter-spacing: -0.5vmin;
    font-size: 8vmin;
    display: table; 
}
.gplace div {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
}
.grid-container_2 {
    width: 19%;
    height: 52%;
    display: grid;
    row-gap: 4%;
    grid-template-columns: auto auto;
    position: absolute;
    right: 0;
    top: 0;
}
#place_17 {
    grid-column: 2 / span 1;
}
::-webkit-scrollbar {
    display: none;
}
#place_18 {
    width: 17%;
    height: 34%;
    position: absolute;
    top: 0;
    left: 62%;
}
#place_19 {
    width: 30%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 30%;
}
.close {
    float: right;
}





.form {
    width:350px;
    height: 300px;
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.form .form-field::before {
    font-size:20px;
    position:absolute;
    left:100px;
    top:17px;
    color:#888;
    content:" ";
    display:block;
    background-size:cover;
    background-repeat:no-repeat;
}
.form .form-field {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin-bottom:1rem;
    position:relative
}
.form input {
    font-family: 'Oswald', sans-serif;
    width:100%;
    outline:none;
    background-color:#fff;
    border-radius:4px;
    border:none;
    display:block;
    padding:.9rem .7rem;
    box-shadow:0 3px 6px rgba(0,0,0,.16);
    font-size:17px;
    color:#4a4a4a;
    text-indent: 20px;
}
.btnl {
    font-family: 'Oswald', sans-serif;
    outline:none;
    border:none;
    cursor:pointer;
    display:inline-block;
    margin:0 auto;
    padding:.9rem 2.5rem;
    text-align:center;
    background-color: grey;
    color:#fff;
    border-radius:4px;
    box-shadow:0 3px 6px rgba(0,0,0,.16);
    font-size:17px
}

.logol {
    color: whitesmoke;
    font-size: 55px;
    font-family: "Bebas Neue";
}