
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    user-select: none;
}
.nav {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.scroll, .right_list {
    height: auto;
    overflow: scroll;
    width: 100%;
    font-size: 1.3vw;
    white-space: pre-wrap;
    font-family: 'Oswald', sans-serif;
    color: white;
    hyphens: auto;
}
.house {
    width: 100%; 
    image-resolution: 100%x;
}
.legend {
    font-family: "Bebas Neue";
    top: 0;
    width: 100%;
}
.logo {  
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

ul {
    font-family: 'Oswald', sans-serif;
    list-style-position: outside;
    list-style-type: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin: 0;
    cursor: pointers;
    width: 100%;
    height: 100%;
    display: table; 
}
li {
    margin-top: 2%;
    padding-left: 0.2vw;
}
li:first-child {
    margin-top: 1%;
}
.menu {
    font-size: 1.5vw;
    height: 2.2vw;
    justify-content: center;
    display: flex;
}
a {
    position: relative;
    text-align: center; 
    font-size: 1.3vw;
    font-family: 'Oswald', sans-serif;
    width: 33%;
    height: 100%;
    cursor: pointer;
}
a:hover {
    opacity: 0.65;
}
.wall {
    position: absolute;
}
#wall_1, #wall_2, #wall_3 {
    width: 2%; 
}
#wall_4 {
    width: 26%;
    height: 45.3%;
    bottom: 0;
    right: 0;
    overflow: scroll;
}
#wall_3 {
    height: 34%;
    top: 0;
    left: 79%
}
#wall_2 {
    height: 34%;
    bottom: 0;
    left: 60%;
}
#wall_1 {
    height: 50%;
    top: 0;
    left: 60%;
}
table {
    font-size: 1.2vw;
    width: 100%;
    border-collapse: collapse;

}
table, th, td {
    border: 0.2vh solid black;
}
.grid-container_1 {
    width: 60%;
    height: 34%;
    display: grid;
    grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.gplace {
    cursor: pointers;
    width: 100%;
    height: 100%;
    font-family: "Bebas Neue";
    letter-spacing: -0.5vmin;
    font-size: 7.5vmin;
    display: table; 
}
.gplace span {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
}
.grid-container_2 {
    width: 19%;
    height: 52.3%;
    display: grid;
    row-gap: 5%;
    grid-template-columns: auto auto;
    position: absolute;
    right: 0;
    top: 0;
}
#place_17 {
    grid-column: 2 / span 1;
}
::-webkit-scrollbar {
    display: none;
}
#place_18 {
    width: 17%;
    height: 34%;
    position: absolute;
    top: 0;
    left: 62%;
}
#place_19 {
    width: 30%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 30%;
}
.close {
    float: right;
}





.form {
    width: 30%;
    height: 15%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
}
.form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.form input {
    text-align: center;
    -webkit-text-fill-color: black;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: black;
    outline: none;
    width: 100%;
}
input:-webkit-autofill {
    -webkit-text-fill-color: black;
    outline: none;
}
input:-webkit-autofill:focus {
    -webkit-text-fill-color: black;
    outline: none;
}
.btnl {
    width: 50%;
    border: none;
}


.user_profile {
    height: 9vw;
    display: grid;
    grid-template-columns: 33.33% 66.66%;
    grid-template-rows: 100%;
    overflow: hidden;
}
.user_image {
    width: 100%;
    background-color: aliceblue;
    margin-top: 9.5%;
}
.user_info {
    height: 100%;
    display: grid;
    overflow: hidden;
    padding-top: 3%;
    padding-left: 7%;
}
.user_events {
    display: grid;
    height: calc(100% - 9vw);
}
.right_scroll {
    display: flex;
}
.user_cupon {
    margin-top: 3%;
    display: flex;
    height: calc(100% - 1vw);
    width: 100%;
}
h1, h5 {
    margin-top: 0;
    margin-bottom: 0;
}
