<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GH Club</title>
</head>
    <body>
    </body>
    <script>
        html = document.querySelector("html")
        html.style.width = "100%"
        html.style.height = "100%"
        body = document.querySelector("body")
        body.style.width = "100%"
        body.style.height = "100%"
        body.style.background = "black"
        body.style.margin = "0"

        body.append(nav = document.createElement("nav"))
        nav.append(scroll = document.createElement("div"))
        nav.append(title = document.createElement("div"))
        title.append(ttitle = document.createElement("span"))
        scroll.append(ul = document.createElement("ul"))
        
        ul.id = "news_ul"
        ul.style.listStyleType = "square"
        ul.style.color = "white"
        ul.style.fontFamily = "\"Gill Sans\", sans-serif"
        ul.style.fontSize = "1.3vw"
        ul.style.paddingInlineStart = "5%"
        ul.style.marginTop = "6vw"

        ttitle.style.position = "absolute"
        ttitle.textContent = "GAME HOUSE"
        ttitle.style.fontFamily = "\"Bebas Neue\""
        ttitle.style.fontSize = "7.8vw"
        ttitle.style.textAlign = "center"
        ttitle.style.top = "-1.55vw"
        ttitle.style.left = "0"
        
        title.style.width = "100%"
        title.style.height = "5.45vw"
        title.style.top = "0"
        title.style.left = "0"
        title.className = "logo"
        title.style.overflow = "hidden"
        title.style.position = "absolute"
        title.style.background = "{{set.wall}}"

        scroll.style.position = "sticky"
        scroll.style.width = "100%"
        scroll.style.height = "100%"
        scroll.style.overflow = "scroll"

        nav.style.position = "absolute"
        nav.style.top = "0"
        nav.style.width = "30%"
        nav.style.height = "50%"
        nav.style.left = "0"

        main = document.createElement("main")
        body.append(main)

        main.append(wand_1 = document.createElement("div"))
        main.append(wand_2 = document.createElement("div"))
        main.append(wand_3 = document.createElement("div"))
        main.append(wand_4 = document.createElement("div"))

        wand_1.style.width = "2%"
        wand_1.style.height = "50%"
        wand_1.style.position = "absolute"
        wand_1.style.top = "0"
        wand_1.style.left = "60%"
        wand_1.className = "wall"

        wand_2.style.width = "2%"
        wand_2.style.height = "34%"
        wand_2.style.position = "absolute"
        wand_2.style.bottom = "0"
        wand_2.style.left = "60%"
        wand_2.className = "wall"

        wand_3.style.width = "2%"
        wand_3.style.height = "34%"
        wand_3.style.position = "absolute"
        wand_3.style.top = "0"
        wand_3.style.left = "79%"
        wand_3.className = "wall"

        wand_4.style.width = "26%"
        wand_4.style.height = "46%"
        wand_4.style.position = "absolute"
        wand_4.style.bottom = "0"
        wand_4.style.right = "0"
        wand_4.className = "wall"

        for(let i = 1; i < 7; i++) {
            main.append(el = document.createElement("div"))
            el.append(span = document.createElement("span"))
            span.textContent = i
            el.id = "place_" + i
            el.style.position = "absolute"
            el.style.height = "16%"
            el.style.width = "10%"
            el.style.bottom = "18%"
            el.style.left = String(i * 10 - 10) + "%"
            el.className = "place"
        }
        for(let i = 7; i < 13; i++) {
            main.append(el = document.createElement("div"))
            el.append(span = document.createElement("span"))
            span.textContent = i
            el.id = "place_" + i
            el.style.position = "absolute"
            el.style.height = "16%"
            el.style.width = "10%"
            el.style.bottom = "0"
            el.style.left = String(i * 10 - 70) + "%"
            el.className = "place"
        }
        for(let i = 13; i < 15; i++) {
            main.append(el = document.createElement("div"))
            el.append(span = document.createElement("span"))
            span.textContent = i + 1
            el.id = "place_" + i
            el.style.position = "absolute"
            el.style.height = "16%"
            el.style.width = "9.5%"
            el.style.top = "18%"
            el.style.right = String(9.5 * i - 123.5) + "%"
            el.className = "place"
        }
        for(let i = 15; i < 17; i++) {
            main.append(el = document.createElement("div"))
            el.append(span = document.createElement("span"))
            span.textContent = i + 1
            el.id = "place_" + i
            el.style.position = "absolute"
            el.style.height = "16%"
            el.style.width = "9.5%"
            el.style.top = "0%"
            el.style.right = String(9.5 * i - 142.5) + "%"
            el.className = "place"
        }
    
        main.append(blok_17 = document.createElement("div"))
        blok_17.append(span_17 = document.createElement("span"))
        span_17.textContent = "13"
        blok_17.id = "place_17"
        blok_17.style.position = "absolute"
        blok_17.style.height = "16%"
        blok_17.style.width = "9.5%"
        blok_17.style.top = "36%"
        blok_17.style.right = "0"
        blok_17.className = "place"

        main.append(blok_18 = document.createElement("div"))
        blok_18.append(span_18 = document.createElement("span"))
        span_18.textContent = "PS"
        blok_18.id = "place_18"
        blok_18.style.width = "17%"
        blok_18.style.height = "34%"
        blok_18.style.position = "absolute"
        blok_18.style.top = "0"
        blok_18.style.left = "62%"
        blok_18.className = "place"

        main.append(blok_19 = document.createElement("div"))
        blok_19.append(span_19 = document.createElement("span"))
        span_19.textContent = "PS"
        blok_19.id = "place_19"
        blok_19.style.width = "30%"
        blok_19.style.height = "50%"
        blok_19.style.position = "absolute"
        blok_19.style.top = "0"
        blok_19.style.left = "30%"
        blok_19.className = "place"

        head = document.querySelector("head")
        head.append(fontbebas = document.createElement("link"))
        fontbebas.href = "https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
        fontbebas.rel = "stylesheet"

        head = document.querySelector("head")
        head.append(style = document.createElement("style"))
        style.textContent = ".place span {\n font-family: \"Bebas Neue\";\n letter-spacing: -0.5vmax;\n position: absolute;\n top: 50%;\n left: 50%;\n -ms-transform: translate(-50%, -50%);\n transform: translate(-50%, -50%);\n font-size: 4.5vw;\n}"

        function initialization() {
            //Set walls Color
            walls = document.querySelectorAll("div.wall")
            Array.from(walls, x => {
                x.style.background = "{{set.wall}}"
            })
            //Adding onclick for places 
            //Set logo Color
            logo = document.querySelector("div.logo")
            logo.style.background = "{{set.wall}}"
            //Adding onclik for add_btn
            add_btn = document.querySelector("span.add_btn")
            //Set bloks Colors 
            place_bloks = document.getElementsByClassName("place")
            {% for key, color in colors.items() %}
                style = "{{color}}" == "free" ? "{{set.free}}" : "{{set.busy}}"
                place_bloks["{{loop.index0}}"].style.background = style
            {% endfor %}
            //Adding News from db
            {% for key, item in news.items() %}
                add_news("{{item}}")
            {% endfor %}
        }
        initialization()
        //Create a new List Item when Clicking on add-button
        function add_news(str) {

            var li = document.createElement("li")
            var t = document.createTextNode(str)

            var ul = document.getElementById("news_ul")
            li.id = "item_" + Number(1 + ul.childNodes.length)
            li.appendChild(t)
            
            ul.insertBefore(li, ul.children[0])
        } 


    </script>
</html>