<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">
    <link rel="icon" href="/static/logo.jpeg">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>GH Login</title>
</head>
<body>
    <div>
        <form method="POST">
            username <input type="username" name="username">
            password <input type="password" name="password">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" value="enter">
        </form>
    </div>
</body>
</html>
