<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="icon" href="/static/logo.jpeg">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        <link rel="stylesheet" media="screen and (min-device-width: 1024px)" href="/static/css/styles.css">
        <link rel="stylesheet" media="screen and (max-device-width: 824px)" href="/static/css/mobile.css">

        <title>GH Club</title>
    </head>
    <body>
        <script> 
            sessionStorage.setItem("token", "{{ token }}")
            csrf_token = "{{ csrf_token() }}"
        </script>
        <script src="/static/javascript/create_table.js"></script>
        <script src="/static/javascript/user/append_item.js"></script>
        <script src="/static/javascript/navigation_bar.js"></script>
        <script src="/static/javascript/get_data_from_server.js"></script>
        <script src="/static/javascript/user/generate_page_code.js"></script>
        <script src="/static/javascript/set_theme_places_get_nav_data.js"></script>
    </body>
</html>